@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Palanquin&family=Rubik+Distressed&display=swap');
* {
    padding:0px;
    margin:0px;
    font-family: Poppins, sans-serif;
}

.main{
    display: grid;
    grid-template-columns: 35vw 65vw;
    background-color: #F5F2F0;
}

.left{
    background-image: url("../assets/pexels-rfstudio-3819572.jpg");
    background-size: 100vh;
    background-repeat: no-repeat;
    padding-top:50px;
    padding-left:50px;
}

.logo img{
    width: 120px;
}

.right{
    margin:50px;  
}

.nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
    color:#B2B0B0;;
}

.nav-link.active{
    color:#333333;
}

.empty-line{
    height: 1px;
    flex: .6;
    background: #333333;
}

.right-top{
    display: grid;
    grid-template-columns: 65% 35%;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.social img{
    width: 20px;
}

.crea{
    font-size: 120px;
    font-family: 'Londrina Outline', cursive;
}

.tivity{
    font-size: 120px;
    padding-left: 100px;
    font-family: 'Rubik Distressed', cursive;
    line-height: 90px;
}

.check{
    float: right;
    margin-top:30px
}

.ingredient-social{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.ingredient{
    align-self: flex-end;
    font-size: 25px;
    color:#333333;
}

.check-btn button{
    width: 100%;
    padding:15px 40px;
    border: none;
    background-color: #333333;
    color:#ffffff;
    font-weight: 700;
}

.right-bottom{
    display: flex;
    justify-content: space-around;
    margin:50px 0px;
}

.feature-item{
    border-left:1px solid #B2B0B0;
    padding:0px 20px;
    position: relative;
    padding-bottom: 20px;
    color:#B2B0B0
}

.feature-name{
    display: inline-block;
}

.circle{
    position: absolute;
    left: -8px;
    top:0px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #B2B0B0;
    border-radius: 8px;
}

.feature-item.active{
    color:#333333;
    border-color: #333333;
}

.feature-item.active .circle{
    background-color: #333333;
}

.demo span{
    font-family: Palanquin;
    font-size: 50px;
    line-height: 0px;
}

.dance-img img{
    width: 400px;
}


@media (max-width:1300px){
    .right{
        margin:30px;
    }

    .crea{
        font-size: 80px;
    }
    
    .tivity{
        font-size: 80px;
        padding-left: 50px;
    }

    .social{
        height: 160px;
    }

    .ingredient{
        font-size: 20px;
    }

    .check-btn button{
        padding:15px 20px;
    }

    .dance-img img{
        width: 300px;
    }
}

@media (max-width:900px){
    .main{
        grid-template-columns: 100vw;
    }

    .left{
        background-size: 100vw;
    }

    .right{
        margin:30px;  
    }
}


@media (max-width:560px){
    .right-top{
        grid-template-columns: 100%;
    }

    .crea{
        font-size: 50px;
    }
    
    .tivity{
        font-size: 50px;
        padding-left: 30px;
        line-height: 30px;
    }

    .empty-line{
        display: none;
    }

    .ingredient-social{
        margin-bottom: 10px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .ingredient{
        align-self: flex-end;
    }

    .check{
        float: right;
        margin-top:10px
    }

    .social{
        height: 50px;
        flex-direction: row;
    }

    .right-bottom{
        text-align: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .features{
        width: fit-content;
        margin: 0px auto;
    }
    
}